/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*****************************************************************
 * Sticky Footer
 ****************************************************************/
HTML, BODY {
  height: 100%;
}

#page {
  min-height: 100%;
  position: relative;
}

#section-content {
  padding-bottom: 200px;
}

#section-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}

/*****************************************************************
 * General HTML elements 
 ****************************************************************/
body {
  background: url(../img/bg-body.jpg) no-repeat right 80px fixed;
  color: #222;
  font-family: Arial, sans-serif;
}

a:link, a:visited, a:hover {
  color: #70845c;
  text-decoration: none;
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
}

a:hover {
  color: #8dc63f;
}

h2.block-title {
  color: black;
  border-bottom: 1px solid #ededed;
  font-family: Arial;
}

a.button {
  padding: 4px 10px;
  background: #8dc63f;
  float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
}

a.button:hover {
  background: #70845c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #70845c;
}

/*****************************************************************
 * Layout 
 ****************************************************************/

/* Logo */
.branding-data {
  width: 160px;
  padding-top: 40px;
  float: left;
}

/* Header: lang switch - search bar - service menu - main menu */
.block-search, .block-lang-switch, .block-service-menu {
  float: right;
  margin-top: 50px;
  margin-left: 10px;
}

.block-main-menu {
  clear: right;
  float: right;
}

#region-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.front #region-content {
  padding-top: 20px;
}

#zone-branding {
  padding-bottom: 35px;
  border-bottom: 1px solid #ededed;
}

#block-system-main {
  clear: both;
}

#zone-footer-wrapper {
  background: #8dc63f;
  color: #70845c;
  padding-top: 20px;
  height: 180px;
}

/*****************************************************************
 * Search Block 
 ****************************************************************/
.block-search {
  margin-right: 0;
  position: relative;
}

.block-search .form-text {
  margin-right: -30px;
  padding-right: 35px;
}

.block-search .form-submit, .block-search .form-submit:hover {
  border: none;
  cursor: pointer;
  width: 18px;
  height: 15px;
  background: url(../img/sprite.png) left top no-repeat;
  text-indent: -999em;
}


/*****************************************************************
 * Menus 
 ****************************************************************/

/* Lang Switch */
.block-lang-switch {}
.block-lang-switch ul {
  margin: 0;
  padding: 0;
}

.block-lang-switch ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.block-lang-switch ul li a {
  color: #70845c;
  font-size: 1.231em;
  font-family: "Trebuchet MS", Arial, sans-serif;
  padding: 3px 8px;
  border-radius: 5px;
  text-transform: lowercase;
}

.block-lang-switch ul li.active a, .block-lang-switch ul li a:hover {
  color: white;
  background: #70845c;
}

/* Service Menu */
.block-service-menu {}
.block-service-menu ul {
  margin: 0;
  padding: 0;
}

.block-service-menu ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.block-service-menu ul li a {
  color: #70845c;
  font-size: 1.231em;
  font-family: "Trebuchet MS", Arial, sans-serif;
  padding: 3px 8px;
  border-radius: 5px;
  text-transform: lowercase;  
}

.block-service-menu ul li.active a, .block-service-menu ul li.active-trail a, .block-service-menu ul li a:hover {
  color: white;
  background: #70845c;
}

/* Main Menu */
.block-main-menu {
  margin-top: 30px;
}

.block-main-menu ul {
  margin: 0;
  padding: 0;
}

.block-main-menu ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.block-main-menu ul li.last {
  margin-right: 0;
}

.block-main-menu ul li a {
  text-transform: uppercase;
  color: #70845c;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.538em;
  padding: 5px 12px;
  border-radius: 5px;
}

.block-main-menu ul li.active a, .block-main-menu ul li.active-trail a, .block-main-menu ul li a:hover {
  color: white;
  background: #8dc63f;
}

/*****************************************************************
 * Blocks 
 ****************************************************************/

/* Quote homepage */
.block-quote {
  padding-top: 50px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.692em;
  background: url(../img/quote.png) no-repeat 0 30px;
}

.block-quote strong {
  color: #70845c;
}

/* Carrousel homepage */
.block-carrousel ul {
  margin: 0;
  padding: 0;
}

.block-carrousel ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Kandidaten & bedrijven homepage */
.block-kandidaat-home,
.block-bedrijf-home {
  margin-top: 50px;
}

.block-kandidaat-home h2.block-title,
.block-bedrijf-home h2.block-title {
  font-size: 1.846em;
  margin-bottom: 15px;
}

.block-kandidaat-home .content,
.block-bedrijf-home .content {
  font-size: 1.231em;
}

/* Jobs homepage */
.block-jobs-homepage {
  margin-top: 40px;
}

.block-jobs-homepage h2.block-title {
  font-size: 1.846em;
  margin-bottom: 10px;
}

.block-jobs-homepage ul.jobs {
  margin: 0;
  padding: 0;
}

.block-jobs-homepage ul.jobs li.job {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-jobs-homepage ul.jobs li.job .title {
  font-size: 1.231em;
  margin-right: 6px;
}

.block-jobs-homepage ul.jobs li.job .regime-regio {
  font-size: 1.231em;
  color: #8dc63f;
}

.block-jobs-homepage ul.jobs li.job .body {
  font-size: 1.077em;
  margin-top: 10px;
}

.block-jobs-homepage ul.jobs li.job .link {
  float: right;
}

.block-jobs-homepage ul.jobs li.job .link a {
  color: #222;
}

.block-jobs-homepage ul.jobs li.job .link a:hover {
  color: #8dc63f;
}

/* News homepage */
.block-news-homepage {
  margin-top: 40px;
}

.block-news-homepage h2.block-title {
  font-size: 1.846em;
  margin-bottom: 10px;
}

.block-news-homepage ul.news-items {
  margin: 0;
  padding: 0;
}

.block-news-homepage ul.news-items li.news-item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
}

.block-news-homepage ul.news-items li.news-item .date {
  color: #8dc63f;
  margin-right: 10px;
}

.block-news-homepage ul.news-items li.news-item .title {
  font-size: 1.231em;
}

.block-news-homepage ul.news-items li.news-item .body {
  font-size: 1.077em;
  margin-top: 10px;
}

.block-news-homepage ul.news-items li.news-item .link {
  float: right;
}

.block-news-homepage ul.news-items li.news-item .link a {
  color: #222;
}

.block-news-homepage ul.news-items li.news-item .link a:hover {
  color: #8dc63f;
}

/* Main menu footer */
.block-main-menu-footer {
  font-size: 1.077em;
}

.block-main-menu-footer ul {
  margin: 0;
  padding: 0;
}

.block-main-menu-footer ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 45%;
  float: left;
  margin-bottom: 10px;
}

.block-main-menu-footer ul li a {
  color: #70845c;
}

.block-main-menu-footer ul li a:hover {
  color: white;
}

/* Social Media footer */
.block-sm-footer h3 {
  margin-bottom: 5px;
}

.block-sm-footer ul {
  margin: 0;
  padding: 0;
}

.block-sm-footer ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-right: 10px;
  width: 44px;
  height: 45px;
}

.block-sm-footer ul li a {
  display: block;
  width: 44px;
  height: 45px;
  background: url(../img/sprite.png) no-repeat left -16px;
  text-indent: -999em;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.block-sm-footer ul li a:hover {
  background-position: left -61px;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.block-sm-footer ul li.twitter a {
  background: url(../img/sprite.png) no-repeat -44px -16px;
}

.block-sm-footer ul li.twitter a:hover {
  background-position: -44px -61px;
}

.block-sm-footer ul li.linkedin a {
  background: url(../img/sprite.png) no-repeat -88px -16px;
}

.block-sm-footer ul li.linkedin a:hover {
  background-position: -88px -61px;
}

/* Campaign Monitor subscribe */
.block-campaign-monitor {
  text-align: right;
}

.block-campaign-monitor h2.block-title {
  font-size: 1.077em;
  border-bottom: none;
  color: #70845c;
  text-align: right;
}

.block-campaign-monitor form .form-item  {
  margin-bottom: 0;
}

.block-campaign-monitor form .form-text {
  width: 100%;
  height: 25px;
  line-height: 25px;
  border: 1px solid #70845c;
  padding-right: 80px;
}

.block-campaign-monitor form .form-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #70845c;
  color: #8dc63f;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 95px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  text-shadow: none;
}


/* Lijn tekst footer */
.block-footer-line {
  padding-top: 30px;
  text-align: center;
}

.block-footer-line a {
  color: #70845c;
  border-bottom: 1px solid #70845c;
}

.block-footer-line a:hover {
  color: white;
  border-bottom: 1px solid white;
}

/** Sollicitatie formulier **/
#webform-component-left,
#webform-component-right {
  width: 45%;
  float: left;
  margin-bottom: 0;
}

#webform-component-intro {
  padding-bottom: 0;
  font-size: 1.692em;
  font-family: "Trebuchet MS";
}

#webform-component-left {
  margin-right: 5%;
}

#webform-component-right--cv {
  margin-bottom: 0;
  padding-bottom: 5px;
}

form.webform-client-form .form-item {
  padding-bottom: 30px;
}

form.webform-client-form .form-item label {
  float: left;
  width: 135px;
  text-align: right;
  margin-right: 10px;
}

form.webform-client-form #webform-component-right .form-item label {
  width: 90px;
}

form.webform-client-form #webform-component-right .form-item .form-text {
  width: 305px;
}

form.webform-client-form #webform-component-right .form-item .form-textarea {
  width: 305px;
  height: 65px;
}


form.webform-client-form .form-item .form-text {
  float: left;
  width: 270px;
  border: 1px solid #c4c4c4;
}

form.webform-client-form #edit-actions .form-submit {
  padding: 4px 10px;
  background: #8dc63f;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  text-shadow: none;
  border: none;
  font-size: 1.231em;
}

form.webform-client-form #edit-actions .form-submit:hover {
  background: #70845c;
}


/** Tip solliciteren block **/
.block-tip {
  margin-top: 30px;
  border: 1px solid #8dc63f;
  padding: 2em;
  padding-left: 70px;
  background: url(../img/sprite.png) no-repeat left bottom;
}

.block-tip p {
  font-size: 1.231em;
}

.block-tip p strong {
  color: #8dc63f;
  font-family: "Trebuchet MS";
  font-size: 1.375em;
}

/** Social Media Links (job) **/
.block-social-media-job {
  margin: 40px 0;
}

.block-social-media-job ul {
  margin: 0;
  padding: 0;
}

.block-social-media-job ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.block-social-media-job ul li.fb {
  margin-right: 40px;
}

/** Linkedin **/
.block-apply-linkedin {
  margin-top: 40px;
}

/** Main text **/
.block-system-main {
  font-size: 1.154em;
}

/** Job node **/
.node-type-vacature .field-label {
  font-size: 1.2em;
} 

/** Job page **/
.view-jobs table th {
  background: #f7f7f7 !important;
  border-left: none;
  border-right: none;  
}

.view-jobs table tr.odd td {
  background: #ffffff !important;
  border: none;
}

.view-jobs table tr.even td {
  background: #ededed !important;
  border: none;
}